<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="../static/index.css">
</head>

<body>

<nav>
<h1>IT Department</h1>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/info">Info</a></li>
<li><a href="/staff">Staff</a></li>
<li><a href="/courses">Courses</a></li>
<li><a href="/news">News</a></li>
<li><a href="/events">Events</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</nav>

<section class="content">
<h2>About Our Department</h2>

<p>
The Information Technology Department focuses on training students
in programming, networking, cybersecurity, and modern computing technologies.
</p>

</section>

</body>
</html>
