<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>IT Department</title>
<link rel="stylesheet" href="../static/index.css">
</head>

<body>

<nav>
<h1>IT Department</h1>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/info">Info</a></li>
<li><a href="/staff">Staff</a></li>
<li><a href="/courses">Courses</a></li>
<li><a href="/news">News</a></li>
<li><a href="/events">Events</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/admin_login">Admin login</a></li>
<li><a href="/admin_dashboard">Admin dashboard</a></li>
</ul>
</nav>

<section class="hero">
<h2>Welcome to the Information Technology Department</h2>
<p>Empowering students with modern technology skills.</p>
</section>

<section class="content">
<h3>Latest News</h3>

{% for post in posts %}
<div class="card">
<h4>{{ post.title }}</h4>
<p>{{ post.content }}</p>
</div>
{% endfor %}

</section>

</body>
    </html>
