<!DOCTYPE html>
<html>
<head>
<title>Staff</title>
<link rel="stylesheet" href="../static/index.css">
</head>

<body>

<nav>
<h1>IT Department</h1>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/info">Info</a></li>
<li><a href="/staff">Staff</a></li>
<li><a href="/courses">Courses</a></li>
<li><a href="/news">News</a></li>
<li><a href="/events">Events</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</nav>

<section class="content">

<h2>Our Staff</h2>

{% for member in staff %}

<div class="card">
<h3>{{ member.name }}</h3>
<p>{{ member.position }}</p>
</div>

{% endfor %}

</section>

</body>
</html>
